name: CI UNEZPAÑOL

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install pylint mypy pytest pytest-cov

      - name: Analizar código con pylint
        run: pylint .

      - name: Analizar tipos con mypy
        run: mypy .

      - name: Ejecutar pruebas y obtener cobertura
        run: pytest --cov=.
